@model Blog
<section id="top-2">
    <div class="container d-flex tp">
        <span>Home /</span> <h6>Blog Detail</h6>
    </div>
</section>

<section>
    <div class="container tp-2">

        <h1>BLOGS DETAIL</h1>
    </div>
</section>

<div id="Blog">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-3">
                <div class="top">
                    <h4><i class="fa-solid fa-pen-to-square"></i>RECENT ARTICLES</h4>
                </div>
                   
                <div class="right-blog">
                    <div class="mideum">
                        <div class="top">
                            <h3> <a href=""> Sample Blog Post With Left Slidebar</a></h3>
                        </div>
                        <div class="mid">
                            <h6>JIN ALKAID / <a href="">58 COMMENT(S)</a> </h6>
                        </div>
                        <div class="bot">
                            <p>Shoe street style leather tote oversized sweatshirt A.P.C. Prada Saffiano crop slipper denim shorts spearmint. Braid skirt round sunglasses seam...</p>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="right-blog">

                    <div class="mideum">
                        <div class="top">
                            <h3> <a href=""> Sample Blog Post With Left Slidebar</a></h3>
                        </div>
                        <div class="mid">
                            <h6>JIN ALKAID / <a href="">58 COMMENT(S)</a> </h6>
                        </div>
                        <div class="bot">
                            <p>Shoe street style leather tote oversized sweatshirt A.P.C. Prada Saffiano crop slipper denim shorts spearmint. Braid skirt round sunglasses seam...</p>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="right-blog">

                    <div class="mideum">
                        <div class="top">
                            <h3> <a href=""> Sample Blog Post With Left Slidebar</a></h3>
                        </div>
                        <div class="mid">
                            <h6>JIN ALKAID / <a href="">58 COMMENT(S)</a> </h6>
                        </div>
                        <div class="bot">
                            <p>Shoe street style leather tote oversized sweatshirt A.P.C. Prada Saffiano crop slipper denim shorts spearmint. Braid skirt round sunglasses seam...</p>
                        </div>
                    </div>
                    <hr>
                </div>



            </div>
            <div class="col-lg-9">

                <div class="blog-left">
                    <div class="top">
                        <div class="sa row d-flex">
                            <div class="col-lg-2 d-flex bor row">
                                <div class="time">
                                    <h4>@Model.Time.ToString("ddd")</h4>
                                    <h1>@Model.Time.ToString("dd")</h1>
                                </div>
                            </div>
                            <div class="col-lg-10 title">
                                <a href=""> <h3>@Model.Title</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="img">
                        <a href="blog-detail.html"> <img src="~/assest/img/blog/@Model.Image" alt=""></a>
                    </div>
                    <div class="description">
                        <h6>
                            @Model.Description
                        </h6>
                        

                        <div class="bottom justify-content-between d-flex mt-5">

                            <div class="left">
                                <h6>@Model.AtohorName / <a href="">58 COMMENT(S)</a> </h6>
                            </div>
                            <div class="right">
                                <button type="button" class="btn btn-light">POST COMMENT</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="LeaveC text-center">
                    <div class="title">
                        <h6>LEAVE A COMMENT</h6>
                        <img src="https://cdn.shopify.com/s/files/1/0908/7252/t/4/assets/home_line.png?v=178078056696408182271627441368" alt="">
                    </div>
                    <div class="mid">
                        <div class="INPUTSs">
                            <h6>Your Name <span>*</span></h6>
                            <input type="name">
                        </div>
                        <div class="INPUTSs">
                            <h6>Your Email <span>*</span></h6>
                            <input type="email" id="email" name="email">
                        </div>
                        <div class="INPUTSs">
                            <h6>Your Message <span>*</span></h6>
                            <textarea name="message">
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="Comment">
                    <h5>COMMENTS(58)</h5>
                    <div class="coment">
                        <div class="com">
                            <p>
                                Добрый день!
                                <br>
                                Хочу рассказать вам про уже ставшей популярной и необходимой каждому трейдеру программе JoySignals. Это программа, помогающая торговать на валютном рынке и рынке бинарных опционов. На основе анализа индикаторов предоставляет рекомендации по торговле.
                                <br>
                                На сайте программы есть видео-примеры торговли на реальных счетах: (раздел «Примеры торговли»)
                                <br>
                                Что меня удивило в этой программе, так это очень качественные сигналы, которые рассчитываются на основании 18 индикаторов. В программе поддерживаются многие инструменты – валюты, акции, индексы, сырье.
                                <br>
                            </p>
                            <div class="Author d-flex justify-content-between mt-5">
                                <p>POST BY TJAZHKOVORV ON 08 JUL, 2015</p>
                                <button type="button" class="btn btn-light">Reply</button>

                            </div>
                        </div>
                    </div>
                    <div class="coment">
                        <div class="com">
                            <p>
                                Добрый день!
                                <br>
                                Хочу рассказать вам про уже ставшей популярной и необходимой каждому трейдеру программе JoySignals. Это программа, помогающая торговать на валютном рынке и рынке бинарных опционов. На основе анализа индикаторов предоставляет рекомендации по торговле.
                                <br>
                                На сайте программы есть видео-примеры торговли на реальных счетах: (раздел «Примеры торговли»)
                                <br>
                                Что меня удивило в этой программе, так это очень качественные сигналы, которые рассчитываются на основании 18 индикаторов. В программе поддерживаются многие инструменты – валюты, акции, индексы, сырье.
                                <br>
                            </p>
                            <div class="Author d-flex justify-content-between mt-5">
                                <p>POST BY TJAZHKOVORV ON 08 JUL, 2015</p>
                                <button type="button" class="btn btn-light">Reply</button>

                            </div>
                        </div>
                    </div>
                    <div class="coment">
                        <div class="com">
                            <p>
                                Добрый день!
                                <br>
                                Хочу рассказать вам про уже ставшей популярной и необходимой каждому трейдеру программе JoySignals. Это программа, помогающая торговать на валютном рынке и рынке бинарных опционов. На основе анализа индикаторов предоставляет рекомендации по торговле.
                                <br>
                                На сайте программы есть видео-примеры торговли на реальных счетах: (раздел «Примеры торговли»)
                                <br>
                                Что меня удивило в этой программе, так это очень качественные сигналы, которые рассчитываются на основании 18 индикаторов. В программе поддерживаются многие инструменты – валюты, акции, индексы, сырье.
                                <br>
                            </p>
                            <div class="Author d-flex justify-content-between mt-5">
                                <p>POST BY TJAZHKOVORV ON 08 JUL, 2015</p>
                                <button type="button" class="btn btn-light">Reply</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="Pagination">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">23</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next >></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
