@using Microsoft.AspNetCore.Identity

@model BlogDetailVM

@inject UserManager<AppUser> _userManager

@{ AppUser appUser = null;
    if (User.Identity.IsAuthenticated)
    {
        appUser = await _userManager.FindByNameAsync(User.Identity.Name);

    }
        }
<section id="top-2">
    <div class="container d-flex tp">
        <span>Home /</span> <h6>Blog Detail</h6>
    </div>
</section>

<section>
    <div class="container tp-2">

        <h1>BLOGS DETAIL</h1>
    </div>
</section>

<div id="Blog">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-3">
                <div class="top">
                    <h4><i class="fa-solid fa-pen-to-square"></i>RECENT ARTICLES</h4>
                </div>

                <div class="right-blog">
                    <div class="mideum">
                        <div class="top">
                            <h3> <a href=""> Sample Blog Post With Left Slidebar</a></h3>
                        </div>
                        <div class="mid">
                            <h6>JIN ALKAID / <a href="">58 COMMENT(S)</a> </h6>
                        </div>
                        <div class="bot">
                            <p>Shoe street style leather tote oversized sweatshirt A.P.C. Prada Saffiano crop slipper denim shorts spearmint. Braid skirt round sunglasses seam...</p>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="right-blog">

                    <div class="mideum">
                        <div class="top">
                            <h3> <a href=""> Sample Blog Post With Left Slidebar</a></h3>
                        </div>
                        <div class="mid">
                            <h6>JIN ALKAID / <a href="">58 COMMENT(S)</a> </h6>
                        </div>
                        <div class="bot">
                            <p>Shoe street style leather tote oversized sweatshirt A.P.C. Prada Saffiano crop slipper denim shorts spearmint. Braid skirt round sunglasses seam...</p>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="right-blog">

                    <div class="mideum">
                        <div class="top">
                            <h3> <a href=""> Sample Blog Post With Left Slidebar</a></h3>
                        </div>
                        <div class="mid">
                            <h6>JIN ALKAID / <a href="">58 COMMENT(S)</a> </h6>
                        </div>
                        <div class="bot">
                            <p>Shoe street style leather tote oversized sweatshirt A.P.C. Prada Saffiano crop slipper denim shorts spearmint. Braid skirt round sunglasses seam...</p>
                        </div>
                    </div>
                    <hr>
                </div>



            </div>
            <div class="col-lg-9">

                <div class="blog-left">
                    <div class="top">
                        <div class="sa row d-flex">
                            <div class="col-lg-2 d-flex bor row">
                                <div class="time">
                                    <h4>@Model.Blog.Time.ToString("ddd")</h4>
                                    <h1>@Model.Blog.Time.ToString("dd")</h1>
                                </div>
                            </div>
                            <div class="col-lg-10 title">
                                <a href=""> <h3>@Model.Blog.Title</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="img">
                        <a href="blog-detail.html"> <img src="~/assest/img/blog/@Model.Blog.Image" alt=""></a>
                    </div>
                    <div class="description">
                        <h6>
                            @Model.Blog.Description
                        </h6>


                        <div class="bottom justify-content-between d-flex mt-5">

                            <div class="left">
                                <h6>@Model.Blog.AtohorName / <a href="">@Model.Comments.Count() COMMENT(S)</a> </h6>
                            </div>
                            
                        </div>
                    </div>
                </div>
                @if (appUser != null)
                {

                <div class="LeaveC text-center">
                    <div class="title">
                        <h6>LEAVE A COMMENT</h6>
                        <img src="https://cdn.shopify.com/s/files/1/0908/7252/t/4/assets/home_line.png?v=178078056696408182271627441368" alt="">
                    </div>

                    <div class="mid">
                        <form class="bg-light p-2" asp-action="AddComment" asp-route-id="@Model.Blog.Id" method="post">
                            <div class="d-flex flex-row align-items-start">
                                <textarea class="form-control ml-1 shadow-none textarea" name="Message"></textarea>
                                <input type="hidden" name="BlogId" value="@Model.Blog.Id" />
                            </div>
                            <div class="right mt-2 " >
                                <button  style="background-color:wheat;" type="submit" class="btn btn-light">POST COMMENT</button>
                            </div>
                        </form>

                    </div>
                </div>
                }
                <div class="Comment">
                    <h5>COMMENTS(58)</h5>

                    @if (Model.Comments != null)
                    {

                        @foreach (var comment in Model.Comments)
                        {

                            if (comment.AppUser.UserName == User.Identity.Name)
                            { 
                            
                                <div class="coment">
                                    <div class="com">
                                        <div class="Author d-flex justify-content-between mt-5">
                                            <p>@comment.AppUser.UserName ON @comment.Date.ToString("dddd MMMM yyyy HH:mm")</p>
                                            <a asp-action="DeleteComment" asp-route-id="@comment.Id" class="text-danger">Delete</a>

                                        </div>
                                        <p>

                                            @comment.Message
                                        </p>
                                    </div>
                                </div>
                            }
                            else
                            {
                                 <div class="coment">
                                    <div class="com">
                                        <div class="Author d-flex justify-content-between mt-5">
                                            <p>@comment.AppUser.UserName ON @comment.Date.ToString("dddd MMMM yyyy HH:mm")</p>
                                            <button type="button" class="btn btn-light">Reply</button>

                                        </div>
                                        <p>

                                            @comment.Message
                                        </p>
                                    </div>
                                </div>
                            }


                        }
                    }

                </div>
               
            </div>
        </div>
    </div>
</div>
