@model BlogVM

<section id="top-2">
    <div class="container d-flex tp">
        <span>Home /</span> <h6>Blog</h6>
    </div>
</section>

<section>
    <div class="container tp-2">

        <h1>BLOGS</h1>
    </div>
</section>

<div id="Blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @foreach (var blog in Model.Blogs)
                {
                    <div class="blog-left">
                        <div class="top">
                            <div class="sa row d-flex">
                                <div class="col-lg-2 d-flex bor row">
                                    <div class="time">
                                        <h4>@blog.Time.ToString("ddd")</h4>
                                        <h1>@blog.Time.ToString("dd")</h1>
                                    </div>
                                </div>
                                <div class="col-lg-10 title">
                                    <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id"> <h3>@blog.Title</h3></a>
                                </div>
                            </div>
                        </div>
                        <div class="img">
                            <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id"> <img src="~/assest/img/blog/@blog.Image" alt=""></a>
                        </div>
                        <div class="description">
                            <h6>
                                @blog.Description
                            </h6>


                            <div class="bottom justify-content-between d-flex mt-5">

                                <div class="left">
                                    <h6>@blog.AtohorName / <a href="">58 COMMENT(S)</a> </h6>
                                </div>
                                <div class="right">
                                    <button type="button" class="btn btn-light">POST COMMENT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
               
                <div class="last">

                    <a href="#" class="previous">&laquo; Previous</a>
                    <a href="#" class="next">Next &raquo;</a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="top">
                    <h4><i class="fa-solid fa-pen-to-square"></i>RECENT ARTICLES</h4>
                </div>
                @foreach (var blog in Model.Blogs)
                {
                    <div class="right-blog">

                        <div class="mideum">
                            <div class="top">
                                <h3> <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id">@blog.Title</a></h3>
                            </div>
                            <div class="mid">
                                <h6>@blog.AtohorName / <a href="">58 COMMENT(S)</a> </h6>
                            </div>
                            <div class="bot">
                                <p>@blog.Description</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                }
               



            </div>
        </div>
    </div>
</div>
