

@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Index";
    int counter = 1;
}
<!-- Page Heading -->
<div class="d-flex row">
    <div class="row justify-content-between mt-5 p-5 w-100">
        <div class="col-lg-2">
            <h1 class="h3 mb-4 text-gray-800" style="color:wheat">Blog Page</h1>
        </div>

        <div class="col-lg-1">
            <a asp-area="manage" asp-controller="blog" asp-action="create" class="btn btn-primary">Create</a>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12 mt-2">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr style="color:wheat">
                        <th>№</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>AuthorName</th>
                        <th>Updated At</th>
                        <th>Setting</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Blog blog in Model)
                    {
                        <tr style="color:wheat">
                            <td style="color:wheat">@counter</td>
                            <td width="75">
                                <img style="width: 72px; height: 68px; margin-bottom:20px;" src="~/assest/img/blog/@blog.Image" alt="Alternate Text" />
                            </td>
                            <td style="color:wheat">@blog.Title</td>
                            <td style="color:wheat">@blog.AtohorName</td>
                             <td style="color:wheat">@blog.UpdatedAt?.ToString("dd / MM / yyyy")</td>
                            <td>
                                <a class="btn btn-warning" asp-area="manage" asp-controller="blog" asp-action="update" asp-route-id="@blog.Id">Update</a>
                                <a class="btn btn-danger" asp-area="manage" asp-controller="blog" asp-action="delete" asp-route-id="@blog.Id">Delete</a>
                            </td>
                        </tr>

                        counter++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

