@model Product


<section id="top-2">
    <div class="container d-flex tp">
        <span>Home /</span> <h6>Products</h6>
    </div>
</section>


<header id="detal" role="banner" aria-label="Heading">
    <section aria-label="Main content" role="main" class="product-detail">
        <div itemscope itemtype="http://schema.org/Product">

            <div class="shadow">
                <div class="_cont detail-top">
                    <div class="cols">
                        <div class="left-col">
                            <div class="thumbs">
                                
                                @foreach (var item in Model.ProductImages)
                                {

                                <a class="thumb-image" href="" data-index="2">
                                    <span><img src="~/assest/img/Product/@item.Name" alt=""></span>
                                </a>
                                }
                                
                            </div>
                            <div class="big">
                                <div class="big-image w-100">
                                    <img src="~/assest/img/Product/@Model.MainImage" alt="">
                                </div>
                                <div id="banner-gallery" class="swipe">
                                    <div class="swipe-wrap">
                                        <div style="background-image: url('~/assest/img/Product/10_16854be2-a731-4970-984e-7f6e483d2405_grande.png')"></div>
                                        <div style="background-image: url('~/assest/img/Product/11_68ab6d0f-109c-429b-a903-4cbf60257806_grande.png')"></div>
                                        <div style="background-image: url('~/assest/img/Product/2_119a31f2-2054-4483-93a3-841310e6bdfb_grande.jpg')"></div>
                                        <div style="background-image: url('~/assest/img/Product/6_03a522d6-f36a-4f59-a815-bbade4d87a6e_grande.png')"></div>
                                    </div>
                                </div>
                                <div class="detail-socials">
                                    <div class="social-sharing" data-permalink="http://html-koder-test.myshopify.com/products/tommy-hilfiger-t-shirt-new-york">
                                        <a target="_blank" class="share-facebook" title="Share"></a>
                                        <a target="_blank" class="share-twitter" title="Tweet"></a>
                                        <a target="_blank" class="share-pinterest" title="Pin it"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-col">
                            <h1 itemprop="name">Curabitur Cursus Dignis</h1>
                            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <meta itemprop="priceCurrency" content="USD">
                                <link itemprop="availability" href="http://schema.org/InStock">
                                <div class="price-shipping">
                                    <div class="price" id="price-preview" quickbeam="price" quickbeam-price="800">
                                        $@Model.Price
                                    </div>
                                </div>
                                <div class="swatches">
                                    <div class="swatch clearfix" data-option-index="0">
                                        <div class="header">Size</div>
                                        @foreach (var item in Model.ProductSizes)
                                        {

                                        <div data-value="M" class="swatch-element plain m available">
                                            <input id="swatch-0-m" type="radio" name="option-0" value="M" checked />
                                            <label for="swatch-0-m">
                                                @item.Size.Name
                                                <img class="crossed-out" src="//cdn.shopify.com/s/files/1/1047/6452/t/1/assets/soldout.png?10994296540668815886" />
                                            </label>
                                        </div>
                                        }
                                      

                                    </div>
                                    <div class="swatch clearfix" data-option-index="1">
                                        <div class="header">Color</div>
                                        @foreach (var item in Model.ProductColors)
                                        {

                                            <div data-value="Blue" class="swatch-element color @item.Color.Name available">
                                                <div class="tooltip">@item.Color.Name</div>
                                                <input quickbeam="color" id="swatch-1-blue" type="radio" name="option-1" value="@item.Color.Name" checked />
                                                <label for="swatch-1-blue" style="border-color: @item.Color.Name;">
                                                    <img class="crossed-out" src="//cdn.shopify.com/s/files/1/1047/6452/t/1/assets/soldout.png?10994296540668815886" />
                                                    <span style="background-color: @item.Color.Name;"></span>
                                                </label>
                                            </div>
                                        }
                                        
                                    </div>
                                    <div class="guide">
                                        <a>Size guide</a>
                                    </div>
                                </div>
                                <!-- <form method="post" enctype="multipart/form-data" id="AddToCartForm"> -->
                                <form id="AddToCartForm">
                                  
                                    <div class="btn-and-quantity-wrap">
                                        <div class="btn-and-quantity">
                                            <div class="spinner">
                                                <span class="btn minus" data-id="2721888517"></span>
                                                <input type="text" id="updates_2721888517" name="quantity" value="1" class="quantity-selector">
                                                <input type="hidden" id="product_id" name="product_id" value="2721888517">
                                                <span class="q"></span>
                                                <span class="btn plus" data-id="2721888517"></span>
                                            </div>
                                            <div id="AddToCart" quickbeam="add-to-cart">
                                                <span id="AddToCartText">Add to Cart</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="tabs">
                                    <div class="tab-labels">
                                        <span data-id="1" class="active">Info</span>
                                        <span data-id="2">@Model.Brand.Name</span>
                                    </div>
                                    <div class="tab-slides">
                                        <div id="tab-slide-1" itemprop="description" class="slide active">
                                            Product Descriptions
                                          @Model.Description
                                        </div>
                                        <br>
                                        <div id="tab-slide-1" itemprop="description" class="slide active">
                                            <h2>Tags: <span>@foreach (var item in Model.ProductTags)
                                            {
                                                @item.Tag.Name
                                            }</span></h2>
                                        </div>
                                        <div id="tab-slide-2" class="slide">
                                            Tony Hunfinger
                                        </div>
                                    </div>
                                </div>
                                <div class="social-sharing-btn-wrapper">
                                    <span id="social_sharing_btn">Share</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</header>
