@model HomeVM

<section class="Slider">

    @foreach (var item in Model.Sliders)
    {
        if (item.Right==false)
        {

            <div class="slider-items ">
                <img src="~/assest/img/slider/@item.Image" alt="">
             
                <div class="img-slider">
                    <img src="~/assest/img/slider/inslideimg/@item.TitleImg" alt="">

                </div>
                <div class="button">
                    <button type="button" class="btn btn-secondary">SEE COLLECTION</button>
                </div>

            </div>
        }
        else
        {
            <div class="slider-items">
                <img src="~/assest/img/slider/@item.Image" alt="">
                <div class="img-slider-3">
                    <img src="~/assest/img/slider/inslideimg/@item.TitleImg" alt="">

                </div>
                <div class="button-3">
                    <button type="button" class="btn btn-secondary">SEE COLLECTION</button>
                </div>
            </div>
        }
    }


</section>

<section id="Collections">
    <div class="container">
        <div class="title text-center">
            <h6>POPULAR COLLECTIONS</h6>
            <img src="https://cdn.shopify.com/s/files/1/0908/7252/t/4/assets/home_line.png?v=178078056696408182271627441368" alt="">
        </div>
        <div class="Categoty d-flex justify-content-between row">
            @foreach (var item in Model.Categories)
            {
                <div class="product col-lg-3 col-6">
                    <a asp-controller="shop" asp-action="index"><img src="~/assest/img/category/@item.Image" alt=""></a>
                    <h5>@item.Name</h5>
                    <hr>
                    <h6> <a asp-controller="shop" asp-action="index">See The Collections</a> </h6>
                </div>
            }
           

        </div>
    </div>
</section>

<section id="NewProduct">
    <div class="container">
        <div class="title text-center">
            <h6>New Collections</h6>
            <img src="https://cdn.shopify.com/s/files/1/0908/7252/t/4/assets/home_line.png?v=178078056696408182271627441368" alt="">
        </div>
        <div class="Categoty d-flex justify-content-between row">
            @foreach (var item in Model.Products.Take(6))
            {
                
                    <div class="product col-lg-4 col-6">
                        <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id"><img src="~/assest/img/Product/@item.MainImage" alt=""></a>
                        <div class="icons text-center">
                            <hr>
                            <div class="content">
                                <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id"> <i class="fa-solid fa-bars"></i> </a>
                                <a id="one" class="button"> <i class="fa-solid fa-eye"></i></a>
                                <a class="addtobasket" asp-controller="basket" asp-action="addtobasket" asp-route-id="@item.Id"><i class="fa-solid fa-basket-shopping"></i></a>

                            </div>
                        </div>
                        <hr>
                        @if (item.IsBestSeller==true)
                        {

                            <div class="sale">
                                <h3>Sale</h3>
                            </div>
                        }
                        <div class="bottom d-flex justify-content-between">

                            <div class="title">
                                <h5>@item.Title</h5>
                                <h6><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> </h6>
                            </div>
                            <div class="price text-end">
                                @if (0 < item.DiscountedPrice)
                                {

                                    <h4>@item.Price$</h4>
                                    <h6>@item.DiscountedPrice$</h6>
                                }
                                else
                                {
                                    <h4>@item.Price$</h4>

                                }
                            </div>
                        </div>
                    </div>
                
                
            }
           




        </div>
    </div>
</section>






<section id="AboutHome">
    <div class="About text-center">
        <img src="~/assest/img/logo/home_banner_image_text.jpg" alt="">
        <h1>
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </h1>
        <hr>
        <div class="btn">Shop Now</div>
    </div>
</section>

<div id="Blog-home">
    <div class="container">
        <div class="title text-center">
            <h6>LATEST NEWS</h6>
            <img src="https://cdn.shopify.com/s/files/1/0908/7252/t/4/assets/home_line.png?v=178078056696408182271627441368" alt="">
        </div>
        <div class="newsb d-flex">
            <div class="imgnews col-lg-6">
                <div class="img">
                    <img src="~/assest/img/news/home_bottom_banner.jpg" alt="">
                </div>
            </div>
            <div class="news col-lg-6 d-flex row">
                @foreach (var blog in Model.Blogs.Take(3))
                {
                    <div class="sa row d-flex">

                        <div class="col-lg-2 d-flex bor row">
                            <div class="time">
                                <h4>@blog.Time.ToString("ddd")</h4>
                                <h1>@blog.Time.ToString("dd")</h1>
                            </div>
                        </div>
                        <div class="col-lg-10 title">
                            <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id"> <h3>@blog.Title</h3></a>
                            <span><i class="fa-solid fa-user"></i> Jin Alkaid / <i class="fa-regular fa-pen-to-square"></i> 58 Comments</span>
                            <h6>Shoe street style leather tote oversized sweatshirt A.P.C. Prada Saffiano crop slipper denim shorts spearmint....</h6>
                        </div>
                    </div>
                }
               
            </div>


        </div>
    </div>
</div>

<section class="p-5 me">
    <div class="container">
        <div class="title text-center p-4">
            <h6>FEATURED PRODUCTS</h6>
            <img src="https://cdn.shopify.com/s/files/1/0908/7252/t/4/assets/home_line.png?v=178078056696408182271627441368" alt="">
        </div>
        <div class="carousel">
            @foreach (var item in Model.Products)
            {

                <div class="product" style="margin-left:30px;">
                    <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id"><img class="w-100" src="~/assest/img/Product/@item.MainImage" alt=""></a>
                    <div class="icons text-center">
                        <hr>
                        <div class="content">
                            <i class="fa-solid fa-bars"></i>
                            <div id="one" class="button"> <i class="fa-solid fa-eye"></i></div>
                            <a class="addtobasket" asp-controller="basket" asp-action="addtobasket" asp-route-id="@item.Id"><i class="fa-solid fa-basket-shopping"></i></a>

                        </div>
                    </div>
                    <hr>
                    @if (item.IsBestSeller == true)
                    {

                        <div class="sale">
                            <h3>Sale</h3>
                        </div>
                    }
                    <div class="bottom d-flex justify-content-between">

                        <div class="title">
                            <h5>@item.Title</h5>
                            <h6><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> </h6>
                        </div>
                        <div class="price text-end">
                            @if (0 < item.DiscountedPrice)
                            {

                                <h4>@item.Price$</h4>
                                <h6>@item.DiscountedPrice$</h6>
                            }
                            else
                            {
                                <h4>@item.Price$</h4>

                            }
                        </div>
                    </div>
                </div>


            }
            



        </div>
        <hr>
    </div>
</section>


<section id="Brands">
    <div class="container">
        <div class="titles text-center p-4">
            <h6>POPULAR BRANDS</h6>
            <img src="https://cdn.shopify.com/s/files/1/0908/7252/t/4/assets/home_line.png?v=178078056696408182271627441368" alt="">
        </div>

        <div class="carousel-brand">
            @foreach (var item in Model.Brands)
            {
                <div class="imgg">
                    <img src="~/assest/img/brandsimg/@item.Image" alt="">
                </div>
            }
        </div>

    </div>

</section>
